/**
 * 容器样式
 * @anchor SuperYing
 * @date 2022/06/20 21:44:30
 */
@use './mixins/mixins.scss' as *;

html,
body,
#app,
.app-wrapper {
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 0;
  background: getElCssVar(bg-color-page)
}

.content-container {
  @include set-component-css-var-attr('toolbar', $toolbar, 'height');
  height: calc(100% - getCssVar('toolbar', 'height'));
}