/**
 * scss 变量集合
 * @anchor SuperYing
 * @date 2022/06/13 20:50:40
 */
@use 'sass:map';

@use './function.scss' as *;

$toolbar: () !default;
$toolbar: map.merge(
  (
    'padding': 20px,
    'height': 56px,
    'content-height': 30px,
    'content-padding': 20px,
    'content-half-padding': 10px,
    'content-margin': 20px,
    'text-color': getElCssVar(color-white),
    'hover-color': getElCssVar(color-primary-light-9),
    'hover-text-color': getElCssVar(color-primary),
  ),
  $toolbar
);

$complete-menu: () !default;
$complete-menu: map.merge(
  (
    'width': 250px,
    'height': 100%,
    'item-height': 40px,
  ),
  $complete-menu
);

$tag-view: () !default;
$tag-view: map.merge(
  (
    'height': 40px,
    'item-gap': 4px,
    'item-padding': 8px,
    'font-size': 14px,
    'icon-size': 16px,
  ),
  $tag-view
);

$app-main: () !default;
$app-main: map.merge(
  (
    'padding': 40px,
    'height': calc(100% - map.get($tag-view, 'height'))
  ),
  $app-main
);